<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Gallery</title>
    <link rel="icon" href="/images/favicon_io/favicon-16x16.png" type="image/png">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container">
            <a class="navbar-brand" href="#">
                sitefy
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/sitefy/"><span class="nav-text">home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sitefy/templates"><span class="nav-text">templates</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sitefy/gallery"><span class="nav-text">gallery</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container title-container d-flex justify-content-start"><h1>gallery</h1></div>

    <div class="container gallery-container">
        <div class="row">
            <% for (let i = 0; i < templates.length; i++) { %>
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <% if (templates[i].templateType === 'template1') { %>
                            <div class="card-img-container">
                                <img src="<%= templates[i].image1 %>" class="card-img-top" alt="Template Image">
                                <div class="overlay-box"></div>
                                <h5 class="card-title"><%= templates[i].companyName %></h5>
                            </div>
                            <div class="card-body bg-transparent d-flex justify-content-center">
                                <a href="/sitefy/templates/<%= templates[i]._id %>" class="btn mr-2">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a href="/sitefy/templates/<%= templates[i]._id %>/edit?type=<%= templates[i].templateType %>" class="btn mr-2">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <form action="/sitefy/templates/<%= templates[i]._id %>?_method=DELETE&type=<%= templates[i].templateType %>" method="POST" class="m-0">
                                    <button type="submit" class="btn">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        <% } else if (templates[i].templateType === 'template2') { %>
                            <div class="card-img-container">
                                <img src="<%= templates[i].leftImage %>" class="card-img-top" alt="Template Image">
                                <div class="overlay-box"></div>
                                <h5 class="card-title"><%= templates[i].title %></h5>
                            </div>
                            <div class="card-body bg-transparent d-flex justify-content-center">
                                <a href="/sitefy/templates/<%= templates[i]._id %>" class="btn mr-2">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a href="/sitefy/templates/<%= templates[i]._id %>/edit?type=<%= templates[i].templateType %>" class="btn mr-2">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <form action="/sitefy/templates/<%= templates[i]._id %>?_method=DELETE&type=<%= templates[i].templateType %>" method="POST" class="m-0">
                                    <button type="submit" class="btn">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        <% } else if (templates[i].templateType === 'template3') { %>
                            <div class="card-img-container">
                                <img src="<%= templates[i].headlineimage %>" class="card-img-top" alt="Template Image">
                                <div class="overlay-box"></div>
                                <h5 class="card-title"><%= templates[i].newstitle %></h5>
                            </div>
                            <div class="card-body bg-transparent d-flex justify-content-center">
                                <a href="/sitefy/templates/<%= templates[i]._id %>" class="btn mr-2">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a href="/sitefy/templates/<%= templates[i]._id %>/edit?type=<%= templates[i].templateType %>" class="btn mr-2">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <form action="/sitefy/templates/<%= templates[i]._id %>?_method=DELETE&type=<%= templates[i].templateType %>" method="POST" class="m-0">
                                    <button type="submit" class="btn">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        <% } else if (templates[i].templateType === 'template4') { %>
                            <div class="card-img-container">
                                <img src="<%= templates[i].backgroundimage %>" class="card-img-top" alt="Template Image">
                                <div class="overlay-box"></div>
                                <h5 class="card-title"><%= templates[i].restaurantname %></h5>
                            </div>
                            <div class="card-body bg-transparent d-flex justify-content-center">
                                <a href="/sitefy/templates/<%= templates[i]._id %>" class="btn mr-2">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a href="/sitefy/templates/<%= templates[i]._id %>/edit?type=<%= templates[i].templateType %>" class="btn mr-2">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <form action="/sitefy/templates/<%= templates[i]._id %>?_method=DELETE&type=<%= templates[i].templateType %>" method="POST" class="m-0">
                                    <button type="submit" class="btn">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
